
.footer {

  position: absolute;
  bottom: 0

}

#imagen {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 1980px;
  height: 1080px;
  
}

#imagen2 {

  position: fixed;
  top: 500px;
  left: 100px;
  width: 500px;
  height: 600px;


}

#imagen3 {

  position: fixed;
  top: 500px;
  left: 1100px;
  width: 500px;
  height: 600px;


}